# {{ member_name }}

<p align="center">
  <a href="https://github.com/{{ org }}/{{ workspace_name }}/actions/workflows/axm-quality.yml"><img src="https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/{{ org }}/{{ workspace_name }}/gh-pages/badges/{{ member_name }}/axm-audit.json" alt="axm-audit"></a>
  <a href="https://github.com/{{ org }}/{{ workspace_name }}/actions/workflows/axm-quality.yml"><img src="https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/{{ org }}/{{ workspace_name }}/gh-pages/badges/{{ member_name }}/axm-init.json" alt="axm-init"></a>
  <a href="https://github.com/{{ org }}/{{ workspace_name }}/actions/workflows/axm-quality.yml"><img src="https://img.shields.io/endpoint?url=https://raw.githubusercontent.com/{{ org }}/{{ workspace_name }}/gh-pages/badges/{{ member_name }}/coverage.json" alt="Coverage"></a>
</p>

::: {{ module_name }}
